{% extends "layouts/default.html" %}

{% block content %}
	
<div class="container main-section">
		<h1>Hei!</h1>
		<p>Eg lagar profesjonelle <span class="nettsider">nettsider</span></p>

		<p>Ta kontakt på <a href="mailto:hei@larskarbo.no">hei@larskarbo.no</a></p>
		<p>Eller ring <a href="tel:97082750">97082750</a></p>

		<!-- <p class="small">Eller send ei melding på <a href="https://www.facebook.com/larskarbo">Facebook</a></p> -->

		
</div>
<div class="container-fluid black">
<div class="container main-section">
	<div class="trademark">
			<div class="logo">Lars Karbø</div>
			<span class="slogan">Web, teknikk og design</span>
			</div>

			<p style="padding-top: 20px" class="small">Portefølje: 
			<ul class="small">
			<li><a target="_blank" href="https://hjorundfjordmountainguide.no">Hjørundfjord Mountain Guide</a></li>
			<li><a target="_blank" href="http://sunnsnacks.larskarbo.no">Sunnsnacks UB</a></li>
			</ul>
			</p>
			</div>
</div>

{% endblock %}