
html,body {
    font-size:30px;
    font-family: 'Montserrat'
}

.nettsider {
    color:green
}

.small {
    font-size:14px;
}


.trademark{
    .logo {
        font-size: 50px;
    }
    .slogan {
        font-size: 20px;
    }
}

.black {
    color:white;
    a {
        color:#7dacd4       
    }
}
